.footer {
  margin-top: 4rem;

  h5 {
    color: var(--primary-color);
    font-weight: 600;
  }

  a {
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--primary-color) !important;
    }
  }

  .social-links {
    a {
      font-size: 1.5rem;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  ul {
    li {
      margin-bottom: 0.5rem;
    }
  }
}